<div>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Posts" %>

  <div class="flex justify-between items-center" id="home">
    <h1 class="font-bold text-4xl">Posts</h1>
    <%= link_to "New post", new_post_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="posts" class="min-w-full">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>

  <div class="p-4 bg-gray-100 rounded-lg shadow-md my-5">
    <ul class="space-y-2">
      <li>
        <a href="#home" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Google</a>
      </li>
      <li>
        <a href="https://www.wikipedia.org" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Wikipedia</a>
      </li>
      <li>
        <a href="https://www.github.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">GitHub</a>
      </li>
      <li>
        <a href="https://www.reddit.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Reddit</a>
      </li>
      <li>
        <a href="https://www.stackoverflow.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Stack Overflow</a>
      </li>
      <li>
        <a href="https://www.twitter.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Twitter</a>
      </li>
      <li>
        <a href="https://www.linkedin.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">LinkedIn</a>
      </li>
      <li>
        <a href="https://www.amazon.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Amazon</a>
      </li>
      <li>
        <a href="https://www.facebook.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Facebook</a>
      </li>
      <li>
        <a href="https://www.netflix.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Netflix</a>
      </li>
      <li>
        <a href="https://www.nytimes.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">The New York Times</a>
      </li>
      <li>
        <a href="https://www.medium.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Medium</a>
      </li>
      <li>
        <a href="https://www.twitch.tv" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Twitch</a>
      </li>
      <li>
        <a href="https://www.apple.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Apple</a>
      </li>
      <li>
        <a href="https://www.microsoft.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Microsoft</a>
      </li>
      <li>
        <a href="https://www.spotify.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Spotify</a>
      </li>
      <li>
        <a href="https://www.youtube.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">YouTube</a>
      </li>
      <li>
        <a href="https://www.imdb.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">IMDb</a>
      </li>
      <li>
        <a href="https://www.airbnb.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Airbnb</a>
      </li>
      <li>
        <a href="https://www.slack.com" target="_blank" class="text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out">Slack</a>
      </li>
    </ul>
  </div>

</div>
